/*
* * * * * * * * * * * * * * * * * * * *
            WORDS
* * * * * * * * * * * * * * * * * * * *
*/

/* ===== eof ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Thin.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Light.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Medium.eot");
}
/* ===== ttf ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Thin.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Light.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Medium.ttf");
}
/* ===== woff ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Thin.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Light.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Medium.woff");
}
/* ===== woff2 ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Bold.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Thin.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Light.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir-Medium.woff2");
}

/*
  * * * * * * * * * * * * * * * * * * * *
              NUMBERS
  * * * * * * * * * * * * * * * * * * * *
  */

/* ===== eot ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot");
}
/* ===== ttf ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf");
}
/* ===== woff ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff");
}
/* ===== woff2 ===== */
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2");
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2");
}
