$primary-deep-green: #22a958;
$text-color: #404040;
$text-color-light: #a3a3a3;
$starcolor-default: #305d02;
$primary-color: #ff00a4;
$white-color: #fff;
$seperator-color: #e6e6e6;

:export {
  primaryDeepGreen: $primary-deep-green;
  textColor: $text-color;
  textColorLight: $text-color-light;
  starcolorDefault: $starcolor-default;
  primaryColor: $primary-color;
  whiteColor: $white-color;
  seperatorColor: $seperator-color;
}
