@import "../../../theme/colors.module.scss";
@import "../../../theme/shadows.module.scss";

.card {
  width: calc(100% - 32px);
  max-width: 567px;
  min-width: min(calc(100% - 4px), 260px);
  height: calc(100% - 20px);
  background-color: $white-color;
  border-radius: 15px;
  border: 0.5px solid $seperator-color;
  position: relative;
  box-shadow: $card-shadow-3;

  .card__header {
    position: relative;
    min-height: 134px;

    .card_cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    .card__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      right: 8px;
      background-color: $white-color;
      box-shadow: $card-shadow-3;
      padding: 8px;
    }
  }

  .card__footer {
    padding: 20px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    .card__details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card__rating {
        padding: 4px 12px;
        background-color: $dark-bilbao-color;
        border-radius: 10px;
      }
    }

    .card__delivery {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
